.slick-arrow {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 80%;
  z-index: 2;
}

.slick-arrow.slick-next {
  right: 16px !important;
}

.slick-arrow.slick-prev {
  left: 16px !important;
}
